.scrubber {
    height: 32px;
    background: #AAA;
    position: relative;
}
.scrubber.waiting {
    background: #444;
}
.thumb {
    position: absolute;
    width: 32px; height: 32px;
    top: 0; left: 0;
    z-index: 2;
    background-image: url('diamond32w.png');
}
.playing .thumb {
    background-image: url('diamond32.png');
}
.inpoint {
    position: absolute;
    width: 32px; height: 32px;
    background-image: url('inpoint32w.png');
    top: 0; left: 0;
    z-index: 1;
}
.outpoint {
    position: absolute;
    width: 32px; height: 32px;
    background-image: url('outpoint32w.png');
    top: 0; right: 0;
    z-index: 1;
}
.scrubber .timing {
    position: absolute;
    left: 0;
    top: 32px;
    font-family: monospace;
    padding-top: 2px;
    font-size: 12px;
}
.scrubber .duration {
    color: gray;
}
